.footer {
    background: #000000;
    padding: 50px 0;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.footer__logo {
    max-width: 211px;
}

.footer__nav {
    list-style: none;
    display: flex;
}

.footer__nav-item {
    font-family: 'Muller';
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;

    opacity: 0.5;
    margin-left: 20px;
}

.footer__nav-item:first-child {
    margin-left: 0;
}

.footer__disclaimer {
    font-family: 'Muller';
    font-size: 12px;
    line-height: 18px;

    color: #FFFFFF;
    opacity: 0.4;
}

.footer__disclaimer b {
    font: inherit;
    font-weight: 800;
}

@media (max-width: 1023px) {
    .footer {
        padding: 30px 0;
    }
}

@media (max-width: 700px) {
    .footer {
        padding: 20px 0;
    }

    .footer__top {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .footer__logo {
        margin-bottom: 20px;
    }
}