.form {
    width: 100%;
    position: relative;
    padding: 30px 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.preloader {
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(../images/preloader.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    border-radius: 20px;
}

.form-input__wrapper {
    position: relative;
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 16.5px 46px 16.5px 44px;
    font-size: 16px;
    line-height: 19px;
    color: black;
}

.form-input::placeholder {
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
}

.form-input__icon {
    position: absolute;
    top: calc(50% - (20px / 2));
    left: 14px;
}

label.error {
    position: absolute;
    transform-style: preserve-3d;
    width: 100%;
    border-radius: 5px;
    background: #FE1B1B;
    color: #FFFFFF;
    padding: 8px;
    z-index: 2;
}

label.error::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #FE1B1B;
    border-radius: 2px;
    transform: translateZ(-1px) rotate(45deg);
}

@media (min-width: 1600px) {
    label.error {
        max-width: 230px;
        left: calc(100% + 12px);
    }

    label.error::before {
        top: 9px;
        left: -6px;
        transform-style: preserve-3d;
    }
}

@media (max-width: 1599px) {
    label.error {
        max-width: 340px;
        left: 0;
        top: 55px;
    }

    label.error::before {
        top: -5px;
        left: 17px;
        transform-style: preserve-3d;
    }
}

.btn-submit {
    height: 58px;
    background: url(../images/btn-bg.png), linear-gradient(180deg, #FEE144 0%, #DBA007 100%);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 20px;
}

.btn-submit:hover {
    background: url(../images/btn-bg.png), #FEE144;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.btn-submit:active {
    background: url(../images/btn-bg.png), #DBA007;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.checkbox-svg {
    align-items: flex-start !important;
    margin-bottom: 0 !important;
}

.privacy-checkbox {
    font-size: 10px !important;
    line-height: 12px !important;
    color: #000000 !important;
    opacity: 0.5 !important;
    padding-left: 12px !important;
}

.privacy-checkbox a {
    text-decoration: underline !important;
}

.checkbox-svg label.checked-svg {
    width: 16px !important;
    height: 16px !important;
}

.checked-svg svg {
    background: #FFFFFF !important;
    border: 1px solid rgba(0, 0, 0, 0.5) !important;
    border-radius: 3px;
}

#cbx:checked+.checked-svg svg {
    stroke: #00AF10 !important;
    border: 1px solid #00AF10 !important;
}

.intl-tel-input.allow-dropdown .flag-container,
.intl-tel-input.separate-dial-code .flag-container {
    left: 44px !important;
}

.phone {
    padding-left: 150px !important;
}

.form-input.error {
    border: 1px solid #FE1B1B;
    color: #FE1B1B;
    background: rgba(254, 27, 27, 0.05);
}

.form-input.error.form-input::placeholder {
    color: #FE1B1B;
}

.form-input.error~.form-input__icon {
    filter: invert(28%) sepia(92%) saturate(3438%) hue-rotate(346deg) brightness(98%) contrast(116%);
}

.form-input.valid {
    background: rgba(0, 175, 16, 0.05);
    border: 1px solid #00AF10;
    color: #00AF10;
}

.form-input.valid.form-input::placeholder {
    color: #00AF10;
}

.form-input.valid~.form-input__icon {
    filter: invert(47%) sepia(53%) saturate(5520%) hue-rotate(108deg) brightness(99%) contrast(107%);
}

@media (max-width: 700px) {
    .form {
        padding: 20px;
    }

    .btn-submit {
        background: url(../images/btn-bg-mob.png), linear-gradient(180deg, #FEE144 0%, #DBA007 100%);
        background-repeat: no-repeat;
        background-position: bottom right;
    }

    .btn-submit:hover {
        background: url(../images/btn-bg-mob.png), #FEE144;
        background-repeat: no-repeat;
        background-position: bottom right;
    }

    .btn-submit:active {
        background: url(../images/btn-bg-mob.png), #DBA007;
        background-repeat: no-repeat;
        background-position: bottom right;
    }
}